/* Variables */
:root {
  --dark-purple: #27233a;
  --light-beige: #D7C9AA;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Signika', sans-serif;
  background-color: var(--dark-purple);
  color:var(--light-beige);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* NAVBAR STYLE  */
header {
  padding-left: 5px;
}
h1 {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
}
nav {
  height: 50px;
  position:sticky;
  top:0;
}
.nav-ul {
  list-style-type: none;
  background:var(--light-beige);
  height:100%;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
}

.items {
  margin-right:10px;
  color:#f1f1f1;
  cursor: pointer;
}
.btn {
  display:none
}
@media screen and (max-width:500px) {
  .nav-ul {
    flex-direction: column;
    height: 200px;
  }
  .items:nth-child(1) {
    border-top:1px solid #fff;
    margin-top:50px
  }
  .items {
  height:50px;
  width:100%;
  border-bottom:1px solid #fff;
  line-height:50px;
  cursor: pointer;
  text-align: center;
  }
  .btn {
    display: block;
    position:absolute;
    right:10px;
    top:10px;
    color:#fff;
  }
}
.custom-select {
  position: relative;
}
select, .input-custom {
  box-shadow: 0 0px 10px var(--dark-purple);
  padding: .4em 2em .4em .4em;
  background: var(--dark-purple);
  color: #e2d8c1;
  border: 0;  
}
.custom-arrow{
  position: absolute;
  top: 0;
  pointer-events: none;
  right: 0;
  display: block;
  background: #191625;
  height: 100%;
  width: 1.5rem;
}
.custom-arrow::before, 
.custom-arrow::after {
  --size-arrow: .4em;

  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform:translate(-50%, -50%);
}
.custom-arrow::before {
  border-left: var(--size-arrow) solid transparent;
  border-right: var(--size-arrow) solid transparent;
  border-bottom: var(--size-arrow) solid var(--light-beige);
  top: 30%;
}
.custom-arrow::after {
  border-left: var(--size-arrow) solid transparent;
  border-right: var(--size-arrow) solid transparent;
  border-top: var(--size-arrow) solid var(--light-beige);
  top: 70%;
}
.input-custom:focus-visible{
  outline: 0;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  color:var(--light-beige);
  background:var(--dark-purple);
}
.react-datepicker__navigation--next {
  right: 10px;
  border-left-color:var(--light-beige)!important;
}
.react-datepicker__navigation--previous {
    left: 10px;
    border-right-color: var(--light-beige)!important;
}
.react-datepicker {
  background-color: #D7C9AA!important;
}
.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
    border-radius: 0.3rem;
    background-color: var(--dark-purple)!important;
    color: var(--light-beige)!important;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    visibility: hidden;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    border-radius: 0.3rem;
    background-color:  var(--dark-purple)!important;
    color: var(--light-beige)!important;
}
/* END NAVBAR STYLE */
.container {
  display: grid;
  grid-template-columns: repeat(4,auto);
  justify-items: center;
  grid-gap: 100px;
  margin-top: 25px;
  justify-content: center;
  margin-bottom: 70px;
}

.ctr {
  text-align: center;
  margin:30px 0 30px 0;
}
.movie-info {
  max-width: fit-content;
}
ul li {
  list-style-type: none;
}
.affiche_movie {
  border:2px solid var(--light-beige);
  animation: slidein 0.5s ease-out normal backwards;
  transition: box-shadow .3s;
  cursor: pointer;
}
.affiche_movie:hover {
  box-shadow: 0 0 10px var(--light-beige) ;
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.img_poster {
  width: 200px;
  max-width: 100%;
}
.img_poster_modal {
  width: 210px;
  max-width: 100%;
}

/* MODAL STYLE */
.tasty {
  position: absolute;
  background:#3B3659;
  width: 100px;
  height: 100px;
  animation: widthTransition 0.8s ease-in;
  animation-fill-mode: forwards;
  overflow: hidden!important;
  cursor: initial;
}
.image-modal {
  grid-area:  a;
  justify-self: center;
  padding: 20px 0 0 20px;
}
.title-modal {
  grid-area:  b;
  text-align: initial;
  padding: 0 20px 0 20px;
}
.casts {
  grid-area:  c;
  display:flex;
  overflow: overlay;
  width: 90%;
  margin: auto;
}
.role_txt {
  grid-area: d;
  margin-bottom: -20px;
  margin:margin-inline
}
@keyframes widthTransition {
  0% {
    top:50%;
    left:50%;
    width: 100px;
    height: 100px;
  }
  100% {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position:fixed;
  }
}
.modal {
  margin: auto;
  width: 1000px;
  margin-top: 9vh;
  background-color: var(--light-beige);
  border-radius: 10px;
  padding: 50px;
  color:#3B3659;
    display: grid;
  grid-template-areas: "a b b b"
                       "d b b b"
                       "c c c c";
  grid-gap: 30px;

}
.space-genre {
  margin-right: 5px;
}
/* END MODAL STYLE */

/* Cast part in modal */
.img_casts {
  width: 110px;
  height: 100%;
}
ol li.card {
  margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 4px;
    border: 1px solid #9a9696e1;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    
}
.name_cast {
  height: 35px;
  text-align: center;
  margin: 0;
  line-height: 20px;
}
/* End Cast part in modal */
.page {
      width: 200px;
    /* background: #D7C9AA; */
    /* bottom: 25px; */
    position: relative;
    color:black
}
.btn-wrap {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}
.btn-wrap div {
  margin-right: 10px;
}
#btnNext, #btnPrev {
      visibility: visible;
    background-color: var(--dark-purple);
    box-shadow: 0 0px 10px var(--dark-purple);
    color: var(--light-beige);
    border:none;
    padding: .4em 2em .4em;
    border-radius: 3px;
}

.disa {
  background-color: red!important;
}
.ena {
  background-color: green!important;
} 
@media screen and (max-width:1400px) {
    .container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-items: center;
    grid-gap: 30px;
    margin-top: 25px;
  }
  .modal {
        margin: auto;
    width: 100%;
    background-color: var(--light-beige);
    border-radius: 0;
    padding: 5px;
    color: #3B3659;
    display: grid;
    grid-template-areas:
        "a b b b"
        "d b b b"
        "c c c c";
    grid-gap:5px;
    justify-content: center;
    text-align: center;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
  }
  .img_casts {
  width: 100px;
  height: 100%;
}
.name_cast {
margin: 5px;
}
  /* footer {
   z-index: 1;
   position: inherit!important;
  } */
}
@media screen and (max-width:500px) {
  .custom-select {
    width: 144.98px;
    margin:0 auto;
  }
  .custom-arrow {
    position: absolute;
    top: 0;
    pointer-events: none;
    right: 0;
    display: block;
    background: #191625;
    height: 25px;
    width: 1.5rem;
    top: 26%;
}
    .container {
    display: grid;
    grid-template-columns: repeat(1,auto);
    justify-items: center;
    grid-gap: 30px;
    margin-top: 25px;
  }
  .modal {
        margin: auto;
    width: auto;
    max-height: 100%;
    background-color: var(--light-beige);
    border-radius: 0;
    padding: 50px;
    color: #3B3659;
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c";
    grid-gap: 30px;
    justify-content: center;
    text-align: center;
  }
  .tasty {
  position: fixed;
  width: 100%;
  background-color: var(--light-beige);
  animation: test 0.8s ease-in;
  animation-fill-mode: forwards;
  height: 100%;
    top: 0;
  cursor: initial;
  overflow-y: scroll!important;
max-height: 100%;
}
  @keyframes test {
0% {
    left: 0;
    opacity: 0;
}
100% {
    left: 0;
    opacity: 1;
}
}
  .title-modal p {
    margin: 0;
  }
  .title-modal p:last-child {
        margin-bottom: 15px;
  }
}